body{
    background-color:rgb(209, 209, 209) ;
}
/*PRINCIPAL*/
.principal{
    background-color: antiquewhite;
    padding: 50px;
    margin-bottom: 10px;
}
.titulo-principal{
    text-align: center;
    color: rgb(17, 62, 87);
    margin-bottom: 30px;
}
.descripcion-principal{
    text-align: center;
    color: rgb(17, 62, 87);
    font-size: 20px;
    margin: 0px 70px 0px 70px;
}

/*CONTENIDO*/
.contenido-1{
    display: flex;
    justify-content: space-evenly;
    height: 500px;
}
.flex_tea {
    background-color: antiquewhite;
    padding: 5px;
    margin: 30px;
}
.flex_tea .imagen-tea{
height: 200px;
width: 400px;
margin: 5px;
display: flex;
justify-content: center;
}
.flex_tel {
    background-color: antiquewhite;
    padding: 5px;
    margin: 30px;
}
.imagen-tel{
    height: 200px;
    width: 400px;
    margin: 5px;
}
.flex_dea {
    background-color: antiquewhite;
    padding: 5px;
    margin: 30px;
}
.imagen-dea{
    height: 200px;
    width: 400px;
    margin: 5px;
}
.contenido-2{
    display: flex;
    justify-content: space-evenly;
    height: 500px;
}
.flex_dis{
    background-color: antiquewhite;
    padding: 5px;
    margin: 30px;
}
.imagen-dis{
    height: 200px;
    width: 400px;
    margin: 5px;
}
.flex_tda{
    background-color: antiquewhite;
    padding: 5px;
    margin: 30px;
}
.imagen-tda{
    height: 200px;
    width: 400px;
    margin: 5px;
}
.flex_dei{
    background-color: antiquewhite;
    padding: 5px;
    margin: 30px;
}
.imagen-dei{
    height: 200px;
    width: 400px;
    margin: 5px;
}
.titulo-tea a {
    list-style: none;
}
article{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin: 50px;
}